
body {

  background-image: url("http://cdn0.dailydot.com/cache/54/fc/54fc501b9ddb414640e67e059b2d3346.jpg");
  margin: 0;
  font-family: sans-serif;
  border-style: solid;
  border-color: black;
}


h1 {
    margin: 0;
    color: #6600cc;
    padding: 20px;
    font-size: 36px;
}


p {
    margin: 15px;
    color: black;
    padding: 15px;
}


h2 {
    margin: 0;
    color: #00ff0c;
}


h3 {
    font-size: 24px;

}


.container {
    width: 900px;
    margin: 0 auto;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    border-radius: 5px;
}


header, footer {
    background: black;
}


a:link, a:visited {
    background-color: black;
    color: white;
    padding: 0px 7px;
    text-align: center;
    text-decoration:none;
    display: inline-block;
}


nav li {
    display: inline-block;
    padding: 1em;
    background-color: black;
    border-radius: 10px;
    border-color: #9704f9;
    border-style: solid;
    border-width: 3px;
    margin-bottom: 10px;
    margin-left: 25px;
}


.content {
    display: flex;
    flex-wrap: wrap;
    background: white;
}


.content section {
    padding: 1em;
    flex: 1 1 25%;
    width: 25%;
    margin-left: 105px;
}


nav li {
    padding: 1em;

}


@media (max-width: 1000px) {
    .content section {
        flex: 1 1 50%;
        width: 50%;
    }


@media (max-width: 950px) {
  p {
      padding: 0px;
      margin: 0px;
  }

}

@media screen and (min-width: 600px) {

}
